<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="C:\Users\MSCA\Desktop\Backend lessons\projects\mysqltest\vigilant-kanye-tribble\assets\images\eco-green-earth-icon-24-182122.png">
  <title>Kanye Rest</title>
</head>
<body>

  <h1>Kanye Rest Quotes</h1>
  <p><em>The best from Kanye West</em></p>
  <br>
  <br>

  <form action="/quote"><button>Get Quote</button></form>
  
  <br>

  <a href="/sign-up"">Sign Up</a>  <a href="/login">Login</a>
  
</body>
</html>